version: "3.9"

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@host.docker.internal:5432/appdb
      APP_ENV: development
    command: sh -c "flask --app run.py db upgrade && flask --app run.py run --host=0.0.0.0 --port=5000"
